<!DOCTYPE html>
<html>
<head>
  <title>OauthFbGhAngular</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <script src="//cdn.jsdelivr.net/satellizer/0.11.2/satellizer.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Oauth">
<%= notice %>
<%= yield %>

</body>
</html>
